/* import font google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* pop-up selamat datang */

.popup-welcome {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; 
  height: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s ease;
}


.popup-welcome.active {
  display: block;
  opacity: 1;
}

.popup-welcome h2 {
  margin-top: 0;
  color: #007BFF;
}

.popup-welcome p {
  font-size: 18px;
  color: #333;
}

.popup-welcome button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.popup-welcome button:hover {
  background-color: #0056b3;
}

/* Pop-up Selamat Datang */
.popup {
  display: none;
  position: fixed;
  bottom: 0; 
  right: 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fade-in 0.5s ease-in-out;
}

.popup h2,
.popup p {
  margin-bottom: 10px;
}    
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Tombol Tutup Pop-up */
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #555;
  transition: color 0.3s ease-in-out;
}

.close-popup:hover {
  color: #f00;
}


section {
  padding: 100px 200px;
}

/* untuk header */
header {
  z-index: 999;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header .brand {
  color: goldenrod;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigasi {
  position: relative;
}

header .navigasi a {
  color: goldenrod;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  margin-left: 40px;
}

header .navigasi a:hover {
  color: #3a6cf4;
}

body {
  min-height: 110vh;
}

/* h4 secara umum */
h4 {
  color: goldenrod;
}

/* home */
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}

/* konten kiri */
.home .content1 {
  width: 500px;
}

.home .content1 h2 {
  color: white;
  font-size: 2em;
  font-weight: 500;
}

.home .content1 h2 span {
  font-size: 2em;
  font-weight: 600;
}

.animasi-text {
  position: relative;
  text-align: center;
  height: 70px;
  overflow: hidden;
}

.animasi-text h3 {
  color: #4e9eff;
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animasi-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}

@keyframes text-move {
  0% {
    margin-top: 0;
  }

  25% {
    margin-top: -70px;
  }

  50% {
    margin-top: -140px;
  }

  75% {
    margin-top: -70px;
  }

  100% {
    margin-top: 0;
  }
}

.btns {
  background-color: #3a6cf4;
  color: gold;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}

.btns:hover {
  background: white;
  color: #3a6cf4;
}

/* konten kanan */
.home .content2 {
  width: 300px;
}

/* foto di halaman home */
.home .img {
  
  width: 65vh;
  position: relative;
  display: flex;
}

/* about */
.about {
  min-height: 150vh;
}

.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about .content .col-left {
  position: relative;
  width: 30%;
}

.about .content .col-right {
  position: relative;
  width: 65%;
}

.about .content .col-left .img-card {
  position: relative;
  width: 100%;
  min-height: 300px;
}

.about .content .col-left .img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

table {
  width: 100%;
  align-items: center;
}

ul {
  padding-left: 25px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  position: relative;
  color: #3a6cf4;
  font-size: 2em;
  font-weight: 500;
}

/* store */
.store {
  min-height: 150vh;
}

.store .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}

.store .product {
  width: 30%;
  margin: 15px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.store .product img {
  max-width: 100%
}

.store .product h3 {
  font-size: 1.5em;
  margin-top: 10px;
}

.store .product p {
  font-size: 1em;
  margin-top: 10px;
  color: #555;
}

.store .product .price {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 10px;
  color: #f39c12;
}

.store .product .buy-button {
  background-color: #3a6cf4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.store .product .buy-button:hover {
  background-color: #34495e;
}


/* kontak */
.kontak {
  min-height: 100vh;
  text-align: center;
}

.kontak .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.kontak .content .card {
  width: 100px;
  margin: 15px;
}

.kontak .content .img-card {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
}

.kontak .content .img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}

.kontak .content .img-card img:hover {
  transform: scale(1.2);
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: black;
  color: #fff;
  text-align: center;
  padding: 1em;
}

.footer a {
  color: #3a6cf4;
  font-weight: 600;
  text-decoration: none;
}

/* membuat halaman responsif */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: goldenrod;
  padding: 15px;
  text-align: center;
}

.customer-store {
  padding: 20px;
  text-align: center;
  max-width: 1200px; /* Maksimum lebar konten */
  margin: 0 auto; /* Pusatkan konten di tengah */
}

.product {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  width: 100%; /* Buat produk mengisi lebar penuh pada layar kecil */
}

.product img {
  max-width: 100%;
  height: auto;
}

.checkout {
  margin-top: 20px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Media query untuk layar kecil */
@media (max-width: 768px) {
  section {
    padding: 100px;
  }

  header {

    padding: 15px 20px; 
  }

  header .brand {
    font-size: 1.5em;
  }

  header .navigasi {
    font-size: 0.9em; 
  }

 
  .home .content1 {
    width: 100%; 
    text-align: center; 
  }

  .home .content1 h2 {
    font-size: 1.5em; 
  }

  .animasi-text h3 {
    font-size: 1.5em; 
  }

  .home .content2 {
    width: 100%;
    text-align: center; 
  }

  .home .img {
    width: 80%; 
  }

  .about .content .col-left {
    width: 100%;
    text-align: center;
  }

  .about .content .col-right {
    width: 100%;
  }

  .about .content .col-left .img-card {
    min-height: auto; 
  }

  .store .content .product {
    width: 100%; 
    margin: 15px 0;
  }
  
  .kontak .content .card {
    width: 30%; 
    margin: 15px; 
  }

  .footer {
    padding: 10px; 
  }

  #toggle-mode-btn {
    font-size: 0.9em; 
    padding: 5px 10px; 
    border-radius: 5px; 
  }
}

/* Mode */
.light-mode {
  background-color: #fff; 
  color: #000;
}

.dark-mode {
  background-color: #121212; 
  color: #fff;
}

.light-mode header {
  background-color: black; 
  color: goldenrod; 
}


.dark-mode header {
  background-color: #121212; 
  color: #fff; 
}

.light-mode .footer {
  background-color: black; 
  color: #fff; 
}

.dark-mode .footer {
  background-color: #121212;
  color: #fff; }

.light-mode .store .product {
  background-color: #fff; 
  color: #333; 
}

/* Aturan tambahan untuk mode gelap */
.dark-mode .store .product {
  background-color: #333; 
  color: #fff; 
}

/* Tombol Mode */
#toggle-mode-btn {
  background-color: transparent; 
  color: goldenrod; 
  border: 2px solid goldenrod; 
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, color 0.3s ease; 
}

#toggle-mode-btn:hover {
  background-color: goldenrod; 
  color: black; 
}

/* Tambahkan aturan CSS untuk formulir pendaftaran */
.registration {
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registration .title {
  text-align: center;
}

.registration .section-title {
  font-size: 24px;
}

.registration .content {
  margin-top: 20px;
}

.registration .form-group {
  margin: 10px 0;
}

.registration label {
  display: block;
  font-weight: bold;
}

.registration input[type="text"],
.registration input[type="email"],
.registration input[type="tel"],
.registration textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.registration textarea {
  resize: vertical;
}

.registration button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.registration button:hover {
  background-color: #555;
}
