/* import font google */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

section {
  padding: 100px 200px;
}

/* untuk header */
header {
  z-index: 999;
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
}

header .brand {
  color: goldenrod;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigasi {
  position: relative;
}

header .navigasi a {
  color: goldenrod;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  margin-left: 40px;
}

header .navigasi a:hover {
  color: #3a6cf4;
}

body {
  min-height: 110vh;
}

/* h4 secara umum */
h4 {
  color: goldenrod;
}

/* home */
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
}

/* konten kiri */
.home .content1 {
  width: 500px;
}

.home .content1 h2 {
  color: white;
  font-size: 2em;
  font-weight: 500;
}

.home .content1 h2 span {
  font-size: 2em;
  font-weight: 600;
}

.animasi-text {
  position: relative;
  text-align: center;
  height: 70px;
  overflow: hidden;
}

.animasi-text h3 {
  color: #4e9eff;
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}

.animasi-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}

@keyframes text-move {
  0% {
    margin-top: 0;
  }

  25% {
    margin-top: -70px;
  }

  50% {
    margin-top: -140px;
  }

  75% {
    margin-top: -70px;
  }

  100% {
    margin-top: 0;
  }
}

.btns {
  background-color: #3a6cf4;
  color: gold;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-transform: uppercase;
}

.btns:hover {
  background: white;
  color: #3a6cf4;
}

/* konten kanan */
.home .content2 {
  width: 300px;
}

/* foto di halaman home */
.home .img {
  
  width: 65vh;
  position: relative;
  display: flex;
}

/* about */
.about {
  min-height: 150vh;
}

.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about .content .col-left {
  position: relative;
  width: 30%;
}

.about .content .col-right {
  position: relative;
  width: 65%;
}

.about .content .col-left .img-card {
  position: relative;
  width: 100%;
  min-height: 300px;
}

.about .content .col-left .img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

table {
  width: 100%;
  align-items: center;
}

ul {
  padding-left: 25px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  position: relative;
  color: #3a6cf4;
  font-size: 2em;
  font-weight: 500;
}

/* store */
.store {
  min-height: 150vh;
}

.store .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}

.store .product {
  width: 30%;
  margin: 15px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.store .product img {
  max-width: 100%
}

.store .product h3 {
  font-size: 1.5em;
  margin-top: 10px;
}

.store .product p {
  font-size: 1em;
  margin-top: 10px;
  color: #555;
}

.store .product .price {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 10px;
  color: #f39c12;
}

.store .product .buy-button {
  background-color: #3a6cf4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.store .product .buy-button:hover {
  background-color: #34495e;
}


/* kontak */
.kontak {
  min-height: 100vh;
  text-align: center;
}

.kontak .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.kontak .content .card {
  width: 100px;
  margin: 15px;
}

.kontak .content .img-card {
  position: relative;
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-radius: 10px;
}

.kontak .content .img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}

.kontak .content .img-card img:hover {
  transform: scale(1.2);
}

/* footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: black;
  color: #fff;
  text-align: center;
  padding: 1em;
}

.footer a {
  color: #3a6cf4;
  font-weight: 600;
  text-decoration: none;
}

/* membuat halaman responsif */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: black;
  color: goldenrod;
  padding: 15px;
  text-align: center;
}

.customer-store {
  padding: 20px;
  text-align: center;
  max-width: 1200px; /* Maksimum lebar konten */
  margin: 0 auto; /* Pusatkan konten di tengah */
}

.product {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  display: inline-block;
  width: 100%; /* Buat produk mengisi lebar penuh pada layar kecil */
}

.product img {
  max-width: 100%;
  height: auto;
}

.checkout {
  margin-top: 20px;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Media Query untuk tampilan layar yang lebih kecil */
@media (max-width: 768px) {
  .product {
      width: calc(50% - 40px); /* Dua produk per baris pada layar kecil */
  }
}

@media (max-width: 480px) {
  .product {
      width: 100%; /* Satu produk per baris pada layar sangat kecil */
  }
}
